.notification {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  
  .notification.success {
    background-color: #4caf50; /* Verde */
  }
  
  .notification.error {
    background-color: #f44336; /* Rojo */
  }
  
  .notification.info {
    background-color: #2196f3; /* Azul */
  }